<html>
    <head>
<title>Christmas List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <body ng-app="myApp" ng-controller="todoCtrl">
      <h1><span class="emphasis" >My Christmas List!</span></h1>
      <br>
      <br>
      <form ng-submit="todoAdd()">
          <input type="text" ng-model="todoInput" size="20" placeholder="Add New">
          <input type="submit" value="Add New">
      </form>
    
      <div class="text" ng-repeat="x in todoList">
          <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
      </div>
      <br>
      <p><button ng-click="remove()">Remove Item</button></p>

      <h2><span class="emphasis">{{getTotalTodos()}}</span> left to get!</h2>
      
      <script>
      var app = angular.module('myApp', []); 
      app.controller('todoCtrl', function($scope) {
          $scope.todoList = [];
      
          $scope.todoAdd = function() {
              $scope.todoList.push(
                  {todoText:$scope.todoInput, done:false}
                );
              $scope.todoInput = "";

          };

          $scope.getTotalTodos = function () {
    return $scope.todoList.length;
  };
      
          $scope.remove = function() {
              var oldList = $scope.todoList;
              $scope.todoList = [];
              angular.forEach(oldList, function(x) {
                  if (!x.done) $scope.todoList.push(x);
              });
          };
      });
      </script>
      
      </body>
    
    
    
    </html>