body{
    text-align: center;
    background-color: rgb(81, 233, 81);
}

.input{
  text-align: center;
}

h1{
    text-align: center;
    color: red;
    font-size: x-large;
}

.emphasis {
    font-family: vast-shadow, sans-serif;
    font-size: 3em;
  }

  .text{
      font-size: x-large;
  }